*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.poppins-regular-font {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
nav{
    max-width: 1110px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
nav ul{
    list-style-type: none;
    display: flex;
    gap: 34px;
    justify-content: space-between;
    margin-top: 95px
}
nav li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600px;
    color: #3A3A3A;
   ;
}
nav h2{
    font-size: 24px;
    font-weight: 700px;
    color: #3A3A3A;
    margin-top: 87px;
}