*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.poppins-regular-font {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
nav{
    max-width: 1110px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
nav ul{
    list-style-type: none;
    display: flex;
    gap: 34px;
    justify-content: space-between;
    margin-top: 95px
}
nav li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600px;
    color: #3A3A3A;
   ;
}
nav h2{
    font-size: 24px;
    font-weight: 700px;
    color: #3A3A3A;
    margin-top: 87px;
}
#banner{
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.banner-container{
    max-width: 580px;
    /*border: 1px solid rebeccapurple;*/
    margin-top: 145.8px;
}
.banner-heading h2{
    max-width: 580px;
    font-size: 52px;
    font-weight: 700px;
    line-height: 70px;
    color: #3A3A3A;

}
.banner-heading p{
    max-width: 506px;
    font-size: 16px;
    font-weight: 600px;
    color: #3A3A3A;
    margin: 16px 0;
}
.btn-primary{
    background-color: #E02C6D;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700px;
    padding: 10px 0px 10px 24px;
    border-radius: 41px;
    
    
}
#arrow{
    text-align: center;
    margin: 10px 24px 10px 8px;
}
.banner-image{
    max-width: 440px;
    margin-top: 80px;
    background-image: url(../images/Circle\ design.svg);
}
