*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.poppins-regular-font {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
nav{
    max-width: 1110px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
nav ul{
    list-style-type: none;
    display: flex;
    gap: 34px;
    justify-content: space-between;
    margin-top: 95px
}
nav li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600px;
    color: #3A3A3A;
   ;
}
nav h2{
    font-size: 24px;
    font-weight: 700px;
    color: #3A3A3A;
    margin-top: 87px;
}
#banner{
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.banner-container{
    max-width: 580px;
    /*border: 1px solid rebeccapurple;*/
    margin-top: 145.8px;
}
.banner-heading h2{
    max-width: 580px;
    font-size: 52px;
    font-weight: 700px;
    line-height: 70px;
    color: #3A3A3A;

}
.banner-heading p{
    max-width: 506px;
    font-size: 16px;
    font-weight: 600px;
    color: #3A3A3A;
    margin: 16px 0;
}
.btn-primary{
    background-color: #E02C6D;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700px;
    padding: 10px 0px 10px 24px;
    border-radius: 41px;
    
    
}
#arrow{
    text-align: center;
    margin: 10px 24px 10px 8px;
}
.banner-image{
    max-width: 440px;
    margin-top: 80px;
    background-image: url(../images/Circle\ design.svg);
}
#main{
    margin: 0 auto;
    max-width: 1110px;
}
.logo{
    margin-top: 170px;
    display: flex;
    justify-content: space-between;
    /*border: 1px solid salmon;*/
    padding: 43px 61px 37px 61px;
    margin-bottom: 100px;
}
#product{
    max-width: 1047px;
    margin: 0 auto;
   /* border: 1px solid red;*/
    text-align: center;
}
#product.h2{
    font-size: 28px;
    font-weight: 600px;
    line-height: 70px;
    color: #3A3A3A;

}
.card{
    max-width: 329px;
    /*border: 1px solid rebeccapurple;*/
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);

}
.product-card{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.card h3{
    font-size: 28px;
    font-weight: 500px;
    line-height: 40px;
    color: #18191F;
    text-align: left;
    padding-left: 14px;
}
.price{
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    text-align: left;
    padding-left: 14px;
}
.c-text{
    max-width: 196px;
    font-size: 14px;
    font-weight: 700px;
    line-height: 21px;
    color: #787885;
    text-align: left;
    padding-left: 14px;
}
.card img{
    max-width: 300px;
    padding: 17px 0 ;
}
#more{
    text-align: right;
    margin-top: 50px;
    color: #E02C6D;
}
#more i{
    margin-left: 5px;
    margin-bottom: 100px;
}
#feature{
    max-width: 1110px;
    margin: 0 auto;
    /*border: 1px solid rebeccapurple;*/
    display: flex;
    gap: 96px;
}
.feature-container{
    max-width: 610px;
    /*border: 1px solid red;*/
    margin: 23px 0;
}
.feature-image{
    max-width: 404px;
    width: 100%;
    margin-bottom: 100px;
}
.feature-heading h3{
    font-size: 45px;
    font-weight: 700px;
    line-height: 60px;
    color: #0A0826;
    margin-bottom: 16px;
}
.feature-heading p{
    font-size: 20px;
    font-weight: 700px;
    line-height: 28px;
    color: #6C6C6C;
    margin-bottom: 16px;
}
.btn-secodary{
    background-color: #E02C6D;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700px;
    padding: 10px 0px 10px 24px;
}
